{% extends "base.html" %}
{% block body %}
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="{{bouquet.image.url}}" alt="img" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{bouquet.name}}</div>
					<div class="card__block_price">{{bouquet.price}} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							{% for flower in flowers %}
							<span class="card_items_intro">
								{{flower}}
							</span>
							{% endfor %}
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								Высота - {{bouquet.height}} см
							</span>
							<span class="card_items_intro">
								Ширина - {{bouquet.width}} см
							</span>
						</div>
					</div>
					<button class="btn largeBtn card__btn">Заказать букет</button>
				</div>
			</div>
		</div>
	</section>
{% endblock body %}