{% extends "base.html" %}
{% load static %}
{% block body %}
	<section id="catalog">
		<div class="container p100">
			<div class="catalog">
				<div class="title">Все букеты</div>
				<div class="catalog__block">
					{% for row in rows %}
					<div class="recommended__elems ficb recommended__elems_first">
						{% for bouquet in row %}
						<div onclick="location.href='/card/{{bouquet.id}}';" class="recommended__block recommended__block_first" style="background: url({{bouquet.image.url}}) no-repeat center bottom / cover;">
							<div class="recommended__block_elems ficb">
								<span class="recommended__block_intro">{{bouquet.name}}</span>
								<span class="recommended__block_price">{{bouquet.price}} руб.</span>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock body %}